body{
	color: white;
}
.gameContainer{
	position: relative;
	width:440px;
	height:440px;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	border-radius: 5%;
	padding: 20px;
}
.fourButton{
	width:190px;
	height:190px;
	margin: 20px;
	border-radius: 5%;
	background-color: black;
}
.buttonShowPattern{
	// background-color: black;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.buttonClicked{
	background-image: linear-gradient(to right, white 0%, #f9d423 100%);
}
#buttonZero{
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	// &:hover{
	// 	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	// }
	// border-radius: 100% 0 0 0;
}
#buttonOne{
	// background-color: red;
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	// &:hover{
	// 	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	// }
	// border-radius: 0 100% 0 0;
}
#buttonThree{
	// background-color: blue;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	// &:hover{
	// 	background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
	// }
	// border-radius: 0 0 0 100%;
}
#buttonTwo{
	// background-color: yellow;
	background-color: black;
	position: absolute;
	right: 0;
	bottom: 0;
	// &:hover{
	// 	background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
	// }
	// border-radius: 0 0 100% 0;
}
#buttonZero,#buttonOne,#buttonThree,#buttonTwo{
}
.center{
	width: 180px;
	height: 180px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0; 
  	right: 0; 
  	bottom: 0;
  	margin-left: auto; 
  	margin-right: auto;
  	margin-top: auto;
  	margin-bottom: auto;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
  	border: 1px dashed white;
  	padding: .5rem;
	.btnStartLabel{
		font-size: .8rem;
	}
	.btnStrictLabel{
		font-size: .8rem;
	}
	.start{
		background-color: red;
	}
	.strict{
		background-color: orange;
	}
	.gameCounter{
		background-color: black;
		color: white;
		width: 50px;
		margin: 0 auto;
		border-radius: .5rem;
	}
}